<app-page-layout
  pageTitle="Create Collection"
  [showCard]="false"
  [showTable]="false"
>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="openModal()"
  >
    Add Field
  </button>

  <!-- section: field selection modal  -->
  <app-modal-container [modalID]="configModal">
    <h3 title>Configuration</h3>

    <div class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3">
      <ng-container *ngFor="let collectionType of fieldTypes">
        <div
          class="col-span-3 border-2 border-gray-300 rounded-md py-4 text-center cursor-pointer shadow-sm hover:bg-slate-300 focus:outline focus:outline-slate-600"
          (click)="selectCollectionType(collectionType.name)"
        >
          <h3 class="text-lg font-medium text-gray-900">
            {{ collectionType.name }}
          </h3>
        </div>
      </ng-container>
    </div>
  </app-modal-container>

  <!-- section: field type settings modal -->
  <app-modal-container [modalID]="'typeSettingModal'">
    <h3 title>Add {{ selectedType }} Field</h3>

    <!-- make a form with Title, PlaceHolder, Validators multi select  -->
    <!-- class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3" -->
    <form [formGroup]="createForm" autocomplete="off">
      <div class="flex flex-wrap">
        <div class="w-full">
          <!-- section: tab header -->
          <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
                class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                (click)="toggleTabs(1)"
                [ngClass]="{
                  'text-lime-600 bg-white': openTab !== 1,
                  'text-white bg-lime-600': openTab === 1
                }"
              >
                General
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
                class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                (click)="toggleTabs(2)"
                [ngClass]="{
                  'text-lime-600 bg-white': openTab !== 2,
                  'text-white bg-lime-600': openTab === 2
                }"
              >
                Validators
              </a>
            </li>
          </ul>

          <!-- section: tab body -->
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
          >
            <div class="px-4 py-5 flex-auto">
              <div>
                <!-- section: general  -->
                <div
                  class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3"
                  [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }"
                >
                  <div class="col-span-12 md:col-span-6">
                    <label
                      for="title"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Title
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="title"
                        id="title"
                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                        placeholder="title"
                        formControlName="title"
                      />
                    </div>
                  </div>

                  <div class="col-span-12 md:col-span-6">
                    <label
                      for="placeholder"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Placeholder
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="placeholder"
                        id="placeholder"
                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                        placeholder="Placeholder"
                        formControlName="placeholder"
                      />
                    </div>
                  </div>

                  <div class="col-span-12 md:col-span-6">
                    <label
                      for="type"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Type
                    </label>
                    <div class="mt-1">
                      <input
                        type="text"
                        name="type"
                        id="type"
                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                        placeholder="type"
                        formControlName="type"
                      />
                    </div>
                  </div>
                </div>

                <!-- section: validators -->
                <div
                  class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3"
                  [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }"
                >
                  <!-- section: required -->
                  <div
                    class="col-span-12 md:col-span-6 flex items-center space-x-4"
                  >
                    <input
                      type="checkbox"
                      formControlName="required"
                      class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 ring-1 border-gray-300 rounded-sm"
                    />
                    <label
                      for="required"
                      class="block text-sm font-medium text-gray-700"
                    >
                      {{
                        createForm.controls["required"].value
                          ? "Required"
                          : "Not Required"
                      }}
                    </label>
                  </div>

                  <div></div>

                  <hr class="col-span-12" />
                  <!-- section: max length -->
                  <div class="col-span-12 md:col-span-6">
                    <label
                      for=""
                      class="inline-block text-sm font-medium text-gray-700"
                    >
                      Max Length
                    </label>
                    <input
                      type="number"
                      formControlName="maxLength"
                      min="0"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 flex-grow block text-right sm:text-sm border-gray-300 rounded-md pr-4"
                    />
                  </div>

                  <!-- section: min length -->
                  <div class="col-span-12 md:col-span-6">
                    <label
                      for=""
                      class="inline-block text-sm font-medium text-gray-700"
                    >
                      Min Length
                    </label>
                    <input
                      type="number"
                      formControlName="minLength"
                      min="0"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 flex-grow block text-right sm:text-sm border-gray-300 rounded-md pr-4"
                    />
                  </div>

                  <!-- section: max value -->

                  <div class="col-span-12 md:col-span-6">
                    <label
                      for=""
                      class="inline-block text-sm font-medium text-gray-700"
                    >
                      Max Value
                    </label>
                    <input
                      type="number"
                      formControlName="maxValue"
                      min="0"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 flex-grow block text-right sm:text-sm border-gray-300 rounded-md pr-4"
                    />
                  </div>

                  <!-- section: min value -->

                  <div class="col-span-12 md:col-span-6">
                    <label
                      for=""
                      class="inline-block text-sm font-medium text-gray-700"
                    >
                      Min Value
                    </label>
                    <input
                      type="number"
                      formControlName="minValue"
                      min="0"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 flex-grow block text-right sm:text-sm border-gray-300 rounded-md pr-4"
                    />
                  </div>

                  <!-- section: pattern -->

                  <div class="col-span-12 md:col-span-6">
                    <label
                      for=""
                      class="inline-block text-sm font-medium text-gray-700"
                    >
                      Pattern
                    </label>
                    <input
                      type="text"
                      formControlName="pattern"
                      min="0"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 flex-grow block text-right sm:text-sm border-gray-300 rounded-md pr-4"
                    />
                  </div>

                  <!-- section: pattern message -->

                  <div class="col-span-12 md:col-span-6">
                    <label
                      for=""
                      class="inline-block text-sm font-medium text-gray-700"
                    >
                      Pattern Message
                    </label>
                    <input
                      type="text"
                      formControlName="patternMessage"
                      min="0"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 flex-grow block text-right sm:text-sm border-gray-300 rounded-md pr-4"
                    />
                  </div>

                  <!-- section: email -->

                  <div
                    class="col-span-12 md:col-span-6 flex items-center space-x-4"
                  >
                    <input
                      type="checkbox"
                      formControlName="email"
                      class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 ring-1 border-gray-300 rounded-sm"
                    />
                    <label
                      for="email"
                      class="block text-sm font-medium text-gray-700"
                    >
                      {{
                        createForm.controls["email"].value
                          ? "Email"
                          : "Not Email"
                      }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-6">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
          (click)="createField()"
        >
          Create
        </button>
      </div>
    </form>
  </app-modal-container>

  <!-- section: experimenting -->

  <form [formGroup]="thirdForm" autocomplete="off">
    <div class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3">
      <ng-container *ngFor="let field of fromFields">
        <div class="col-span-12 md:col-span-6">
          <app-input
            *ngIf="
              field.type === 'text' ||
              field.type === 'email' ||
              field.type === 'password' ||
              field.type === 'number' ||
              field.type === 'textarea'
            "
            [label]="field.label"
            [placeHolder]="field.placeholder"
            [control]="field.control"
            [inputType]="field.type"
            labelClasses="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            inputClasses="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition duration-300"
          ></app-input>

          <app-checkbox
            *ngIf="field.type === 'checkbox'"
            [control]="field.control"
            >{{
              field.control.value ? field.label : field.altLabel
            }}</app-checkbox
          >

          <ng-select
            *ngIf="field.type === 'select'"
            [items]="field.options"
            [bindLabel]="field.bindLabel"
            [bindValue]="field.bindValue"
            [clearable]="field.clearable"
            [multiple]="true"
            groupBy="name"
            [searchable]="field.searchable"
            [closeOnSelect]="field.closeOnSelect"
            [placeholder]="field.placeholder"
            [formControlName]="field.control"
          >
          </ng-select>
        </div>
      </ng-container>
    </div>

    <div class="col-span-6">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        type="submit"
        (click)="createField()"
      >
        Create
      </button>
    </div>
  </form>

  <app-form-builder
    *ngIf="inputFormFields.length"
    [fromFields]="inputFormFields"
  ></app-form-builder>
</app-page-layout>
