<app-page-layout
  pageTitle="Create Collection"
  [showCard]="false"
  [showTable]="false"
>
  <!-- section: Collection info Card -->

  <div
    class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg p-4 m-4"
  >
    <div class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3">
      <div class="col-span-12 md:col-span-6">
        <app-input
          label="Collection Name"
          placeHolder="Enter Collection Name"
          [control]="collectionName"
          inputType="text"
          labelClasses="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          inputClasses="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition duration-300"
        ></app-input>
      </div>
      <div class="col-span-12 md:col-span-6">
        <app-input
          label="Collection Description"
          placeHolder="Enter Collection Description"
          [control]="collectionDescription"
          inputType="text"
          labelClasses="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          inputClasses="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition duration-300"
        ></app-input>
      </div>

      <div class="col-span-12 md:col-span-6 mt-4">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="openModal()"
        >
          Add Field to Collection
        </button>
      </div>
    </div>
  </div>

  <!-- section: field selection modal  -->
  <app-modal-container [modalID]="configModal">
    <h3 title>Configuration</h3>

    <div class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3">
      <ng-container *ngFor="let collectionType of fieldTypes">
        <div
          class="col-span-3 border-2 border-gray-300 rounded-md py-4 text-center cursor-pointer shadow-sm hover:bg-slate-300 focus:outline focus:outline-slate-600"
          (click)="selectCollectionType(collectionType.name)"
        >
          <h3 class="text-lg font-medium text-gray-900">
            {{ collectionType.name }}
          </h3>
        </div>
      </ng-container>
    </div>
  </app-modal-container>

  <!-- section: field type settings modal -->
  <app-modal-container [modalID]="'typeSettingModal'">
    <h3 title>Add {{ selectedType | titlecase }} Field</h3>

    <form [formGroup]="createForm" autocomplete="off">
      <div class="flex flex-wrap">
        <div class="w-full">
          <!-- section: tab header -->
          <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
                class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                (click)="toggleTabs(1)"
                [ngClass]="{
                  'text-lime-600 bg-white': openTab !== 1,
                  'text-white bg-lime-600': openTab === 1
                }"
              >
                General
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
                class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                (click)="toggleTabs(2)"
                [ngClass]="{
                  'text-lime-600 bg-white': openTab !== 2,
                  'text-white bg-lime-600': openTab === 2
                }"
              >
                Validators
              </a>
            </li>
          </ul>

          <!-- section: tab body -->
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
          >
            <div class="px-4 py-5 flex-auto">
              <div>
                <!-- section: general  -->
                <div
                  class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3"
                  [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }"
                >
                  <ng-container *ngFor="let field of generalFormFields">
                    <div class="col-span-12 md:col-span-6">
                      <app-input
                        *ngIf="
                          field.type === 'text' ||
                          field.type === 'email' ||
                          field.type === 'password' ||
                          field.type === 'number' ||
                          field.type === 'textarea'
                        "
                        [label]="field.label"
                        [placeHolder]="field.placeholder"
                        [control]="field.control"
                        [inputType]="field.type"
                        labelClasses="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        inputClasses="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition duration-300"
                      ></app-input>

                      <app-checkbox
                        *ngIf="field.type === 'checkbox'"
                        [control]="field.control"
                        >{{
                          field.control.value ? field.label : field.altLabel
                        }}</app-checkbox
                      >

                      <ng-select
                        *ngIf="field.type === 'select'"
                        [items]="field.options"
                        [bindLabel]="field.bindLabel"
                        [bindValue]="field.bindValue"
                        [clearable]="field.clearable"
                        [multiple]="true"
                        groupBy="name"
                        [searchable]="field.searchable"
                        [closeOnSelect]="field.closeOnSelect"
                        [placeholder]="field.placeholder"
                        [formControlName]="field.control"
                      >
                      </ng-select>
                    </div>
                  </ng-container>
                </div>

                <!-- section: validators -->
                <div
                  class="grid grid-cols-6 md:grid-cols-12 gap-x-4 gap-y-3"
                  [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }"
                >
                  <ng-container *ngFor="let field of validationFormFields">
                    <div class="col-span-12 md:col-span-6">
                      <app-input
                        *ngIf="
                          field.type === 'text' ||
                          field.type === 'email' ||
                          field.type === 'password' ||
                          field.type === 'number' ||
                          field.type === 'textarea'
                        "
                        [label]="field.label"
                        [placeHolder]="field.placeholder"
                        [control]="field.control"
                        [inputType]="field.type"
                        labelClasses="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        inputClasses="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition duration-300"
                      ></app-input>

                      <app-checkbox
                        *ngIf="field.type === 'checkbox'"
                        [control]="field.control"
                        >{{
                          field.control.value ? field.label : field.altLabel
                        }}</app-checkbox
                      >

                      <!-- <ng-select
                      *ngIf="field.type === 'select'"
                      [items]="field.options"
                      [bindLabel]="field.bindLabel"
                      [bindValue]="field.bindValue"
                      [clearable]="field.clearable"
                      [multiple]="true"
                      groupBy="name"
                      [searchable]="field.searchable"
                      [closeOnSelect]="field.closeOnSelect"
                      [placeholder]="field.placeholder"
                      [formControlName]="field.control"
                    >
                    </ng-select> -->
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-6">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
          (click)="createField()"
        >
          Create
        </button>
      </div>
    </form>
  </app-modal-container>

  <!-- section: table list of fields in collection -->
  <!-- <ng-container dataTable> -->
  <ngx-datatable
    *ngIf="data?.length"
    class="w-full !bg-transparent !shadow-none"
    [rows]="data"
    [columnMode]="'force'"
    [headerHeight]="30"
    [footerHeight]="50"
    rowHeight="auto"
    [scrollbarH]="true"
    [reorderable]="true"
    [swapColumns]="true"
    rowHeight="auto"
    [count]="page.totalElements"
  >
    <!-- [offset]="page.pageNumber"
    [limit]="page.size"
    (page)="setPage($event)"
    [externalPaging]="true" -->
    <ngx-datatable-column name="#" [flexGrow]="0.5" [width]="20">
      <ng-template
        let-rowIndex="rowIndex"
        let-row="row"
        ngx-datatable-cell-template
      >
        {{ rowIndex + 1 }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Collection Name" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.CollectionName | titlecase }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Collection Url" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.address }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Field Title" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.Fields.label }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Field Type" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.Fields.type | titlecase }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Field Validators" [flexGrow]="6">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container *ngFor="let item of row?.Fields.validators">
          <p>
            <span> Name: {{ item.name | titlecase }} </span>
            <span *ngIf="item.value"> Value: {{ item.value }} </span>
          </p>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <!-- 2 buttons for edit and delete -->
        <div class="flex items-center space-x-4 text-sm">
          <button
            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
            aria-label="Edit"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h7a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <button
            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-blue"
            aria-label="Delete"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h7a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <!-- </ng-container> -->
</app-page-layout>

<!-- <app-form-builder
  *ngIf="inputFormFields.length"
  [fromFields]="inputFormFields"
></app-form-builder> -->
