<div class="card-container">
  <div class="card">
    <h2 class="card-title">{{ title }}</h2>

    <form action="" class="form">
      <input type="text" placeholder="User ID" class="input" />

      <div class="input-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          class="input"
        />
        <svg-icon
          (click)="toggleShowPassword()"
          [src]="passwordVisibilityIcon"
          [applyClass]="true"
          [class]="
            'w-5 h-5 text-tertiary lg:text-primary absolute right-2 cursor-pointer'
          "
        ></svg-icon>
      </div>

      <p class="forgot-text">Forgot Password ?</p>

      <div class="btn-container">
        <button class="submit-btn">Login</button>
      </div>
    </form>
  </div>
</div>
